.col-size {
    width: 5em;
    height: 5em;
}
.fondo{
    background-color: bisque;
}

img{
    max-height: 100%;
    max-width: 100%;
    display: block; /* remove extra space below image */
}

.window-close {
    display:none;
}
.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}

.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}


@media only screen and (max-width: 768px) {
    .col-size{
        width: 2.5em;
        height: 2.5em;    
    }
  }